.trending {
  padding: 20px 280px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.trending h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: white;
}

.scrollContainer {
  display: flex;
  overflow: hidden;
  gap: 20px;
  white-space: nowrap;
}

.user {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #ff0080;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.icon {
  margin-right: 15px;
}

.userInfo {
  text-align: left;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.country {
  font-size: 0.9rem;
  color: #777;
}

@media (max-width: 880px) {
  .trending {
    padding: 20px 0px;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .trending {
    padding: 20px 180px;
  }
}